<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net452" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net452" />
  <package id="Eyes.Image.Core" version="4.16.1" targetFramework="net452" />
  <package id="Eyes.Images" version="3.52.0" targetFramework="net452" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.34" targetFramework="net452" developmentDependency="true" />
  <package id="log4net" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="PdfiumViewer" version="2.12.0.0" targetFramework="net452" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net452" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>